opencv-python 
pillow 
numpy
pandas 
scikit-learn
whisper 
openai-whisper
ultralytics 
torch 
torchvision 
torchaudio
transformers 
datasets
git+https://github.com/openai/CLIP.git
yt-dlp 
moviepy 
pydub
regex 
tqdm
ftfy